.detalhe-servidor {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.detalhe-servidor strong {
    color: #006b3f;
}

.form-item .toggledBtn  {
    background-color: #c42121;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.form-item .button  {
    margin: auto;
    margin-top: 10px;
}
