.labelAtividadesPEDProfessor {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.sectionAtividadesPEDProfessor {
    display: flex;
    width: 100%;
}

.containerTabelaAtividadesPEDProfessor {
    margin: 15px;
    width: 50%;
}

.divAtividadesPEDProfessor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pAtividadesPEDProfessor {
    margin: auto;
}