.calendario-page-container {
    display: flex;
    gap: 20px;
}

.calendario-container {
    flex: 2;
    padding-top: 50px;
}

.calendarios-academicos-container {
    flex: 1;
    padding-top: 50px;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha o switch à direita */
    gap: 10px;
    margin-bottom: 20px;
}

.label-switch {
    font-weight: bold;
    font-size: 16px;
    color: #006400;
}

.rbc-calendar {
    z-index: 1 !important;
}

.rbc-toolbar-label {
    text-align: center;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.rbc-event {
    background-color: #006b3f !important;
    color: white !important;
}

.calendarios-list {
    list-style-type: none;
    padding: 0;
}

.calendario-item {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-bottom: 8px;
}

.calendario-item:hover {
    background-color: #f0f0f0;
}

.botoes-calendario-selecionado {
    display: flex;
    gap: 30px; /* Espaço entre os botões */
    margin-top: 20px; /* Espaço superior para separar os botões da lista */
}
