.container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.calendarioContainer {
    flex: 2;
    margin-top: 20px;
}

.containerEventos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    overflow-y: scroll;
    height: 100%;
    margin-top: 50px;
    align-items: center;
}

.evento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 12px;
    border-radius: 8px;
    padding: 12px;
}

.tituloEvento {
    font-family: 'Roboto';
    text-align: center;
    color: #333;
}

.evento:hover {
    cursor: pointer;
    scale: calc(1.03);
    transition: all;
    transition-duration: 0.2s;
    background-color: #ccc;

    &:hover .tituloEvento {
        color: white;
    }
}

.slotValido {
    cursor: pointer;

    &:hover {
        background-color: #ccc;
        transition: all;
        transition-duration: 0.3s;
    }
}

.slotDesabilitado {
    cursor: not-allowed;
}