HOST=0.0.0.0
PORT=3000
WATCHPACK_POLLING=true
CHOKIDAR_USEPOLLING=true
WDS_SOCKET_PORT=3001
REACT_APP_BASE_API_URL=http://localhost:8001/
REACT_APP_BASE_APP_URL=http://localhost:3001
REACT_APP_HUB_FRONTEND=http://localhost:3000
REACT_APP_SYSTEM_ID=sistema-progressoes-ifrs
REACT_APP_GOOGLE_OAUTH2_CLIENT_ID=
