.span {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    color: #333333;
    margin-top: 15px;
}

.radioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}


.labelRadio {
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
}


.spanGrupo {
    font-size: 80%;
    display: flex;
    justify-content: center;
    width: 180px;
    height: fit-content;
    padding: 10px;
    background-color: #fff;
    color: #333333;
    border: 2px solid #006b3f;
    border-radius: 5px;
    margin: 5px;
}

.spanGrupo:hover {
    transition: 0.3s ease;
    scale: calc(1.05);
    cursor: pointer;
    background-color: #006b3f;
    color: #fff;
}


.radio:checked+.spanGrupo {
    background-color: #006b3f;
    color: #fff;
}

.radio {
    display: none;
}

input::placeholder {
    color: #aaa;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}