.visualizar-servidor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detalhe-servidor {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.detalhe-servidor strong {
    color: #006b3f;
}

.botao-editar {
    padding: 10px 20px;
    background-color: #006b3f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.botao-editar:hover {
    background-color: #004f2e;
}
