.dropdown {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdownContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    align-items: center;
}

.img {
    height: 40px;
    border: solid 1px white;
    border-radius: 50%;
}

.icone {
    max-width: 20px;
    max-height: 100%;
}

.titulo {
    font-family: 'Roboto';
    font-size: var(--dropdown-font-size, 15px);
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;

    &:hover {
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        transform: scale(1.03);
    }
}

.lista {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    list-style: none;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 120%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.item {
    display: flex;
    justify-content: start;
    padding: 5px;
    font-family: 'Roboto';
    font-weight: 600;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        background-color: #f2f2f2;
    }
}

.item:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.item:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.itemTitle {
    text-decoration: none;
    color: #767676;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: var(--dropdown-font-size, 16px);

}

.desabilitado {
    cursor: not-allowed;
    color: #a0a0a0;
    font-weight: 500;
    text-decoration: none;
    font-size: var(--dropdown-font-size, 16px);


    .itemTitle {
        color: #a0a0a0;
        padding: 8px;
    }
}