.dropdown-cabecalho {
  background-color: transparent;
  font-weight: bold;
  display: flex;
  position: relative;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  color: #000;
  border: none;
}

.dropdown-titulo {
  margin-left: 15px;
}

.dropdown-cabecalho::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.1rem;
  width: 0;
  height: 2px;
  background-color: #006b3f;
  transition: width 0.3s ease, left 0.3s ease;
}

.dropdown-cabecalho:hover::after {
  width: 100%;
  left: 0;
}

.dropdown-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-conteudo,
.dropdown-usuario-conteudo {
  background-color: #fff;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
  min-width: 160px;
  border-radius: 5px;
  padding: 10px 0;
}

.dropdown-conteudo {
  background-color: #fff;
  width: fit-content;
  margin-top: 43px;
}

.dropdown-usuario-conteudo {
  background-color: #006b3f;
  border: 2px solid #003c23;
  z-index: 3;
  margin-top: 60px;

  .link,
  .dropdown-item {
    color: white;
    font-weight: 500;
  }

}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.link {
  font-weight: 400;
  color: black;
}

/* Responsividade */
@media (max-width: 760px) {
  .dropdown-item {
    font-size: 14px;
    font-weight: 600;
  }

  .dropdown-conteudo {
    background-color: #fff;
    z-index: 1;
    position: absolute;
    margin-left: 200px;
    margin-top: 0;
  }

  .dropdown-titulo {
    display: none;
  }

  .dropdown-cabecalho {
    background-color: transparent;
    position: absolute;
    font-weight: bold;
    display: flex;
    z-index: 2;
    align-items: center;
    cursor: pointer;
    color: #000;
    max-height: fit-content;
    max-width: fit-content;
    height: fit-content;
    width: fit-content;
  }

  .dropdown-cabecalho::after {
    bottom: -5px;
  }
}