.dropdown-cabecalho,
.dropdown-cabecalho-usuario,
.dropdown-cabecalho-icone {
  background-color: transparent;
  font-weight: bold;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  min-height: max-content;
  line-height: 40px;
  color: #000;
  border: none;
}

.dropdown-titulo {
  margin-left: 15px;
}

.dropdown-cabecalho::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.1rem;
  width: 0;
  height: 2px;
  background-color: #006b3f;
  transition: width 0.3s ease, left 0.3s ease;
}

.dropdown-cabecalho:hover::after {
  width: 100%;
  left: 0;
}

.dropdown-conteudo,
.dropdown-conteudo-usuario,
.dropdown-conteudo-icone {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  border-radius: 10px;
  min-height: min-content;
  top: 110%;
}

.dropdown-conteudo,
.dropdown-conteudo-icone {
  background-color: #fff;
  z-index: 3
}

.dropdown-conteudo-usuario {
  z-index: 4
}

.dropdown-conteudo-usuario {
  right: 0;
  background-color: #006b3f;
  border: 2px solid #003c23;
}

.dropdown-item,
.dropdown-item-usuario {
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: transparent;
  min-width: max-content;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
}

.dropdown-item-usuario {
  color: white;
}

.dropdown-conteudo .dropdown-item:first-child,
.dropdown-conteudo-icone .dropdown-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown-conteudo .dropdown-item:last-child,
.dropdown-conteudo-icone .dropdown-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-item:hover {
  background-color: #d9d9d9;
  transition: ease-in .2s;
}

.dropdown-conteudo .dropdown-item:first-child:disabled {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.dropdown-item:disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.dropdown-conteudo .dropdown-item:last-child:disabled {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.link {
  font-weight: 400;
  color: black;
}

/* Responsividade */
@media (max-width: 760px) {
  .dropdown-conteudo {
    left: 30px;
    top: 0;
  }

  .dropdown-conteudo-icone {
    top: 0;
    right: 30px;
  }

  .dropdown-titulo {
    display: none;
  }

  .dropdown-cabecalho {
    background-color: transparent;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    cursor: pointer;
    color: #000;
    max-height: fit-content;
    max-width: fit-content;
    height: fit-content;
    width: fit-content;
  }

  .dropdown-cabecalho::after {
    bottom: -5px;
  }
}