.dropdown-titulo {
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
  height: 40px;
  line-height: 40px;
}

.dropdown-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-conteudo,
.dropdown-conteudo-header {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 10px 0;
}

.dropdown-conteudo {
  background-color: #fff;
  border: 1px solid #000;
  z-index: 1;
}

.dropdown-conteudo-header {
  background-color: #006b3f;
  border: 2px solid #003c23;
  z-index: 2;
  margin-top: 60px;

  .link,
  .dropdown-item {
    color: white;
  }

}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.link {
  font-weight: 400;
  color: black;
}

/* Responsividade */
@media (max-width: 600px) {

  .dropdown-titulo,
  .dropdown-item {
    font-size: 14px;
  }
}