.sectionDetalhesPED {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.divDetalhesPED {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.divStatusPED {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f1f1f1;
    margin-top: 10px;
    border-radius: 10px;
    max-height: 300px;
    margin-left: 15px;
    padding: 10px;
}

.opcoesContainer {
    display: flex;
    justify-content: end;
    min-height: 24px;
}

.labelDetalhesPED {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 17px;
    margin: 10px;
}

.nomeAlunoPED {
    font-size: 15px;
    margin-left: 10px;
}

.pDetalhesPED {
    font-weight: 400;
    font-size: 15px;
    margin: 5px;
}

.spanDetalhesPED {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.labelStatusPED {
    margin: auto;
}

.labelCabecalhoDetalhesPED {
    background-color: #006b3f;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.buttons-ped {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

@media (max-width: 1260px) {
    .divStatusPED {
        height: 300px;
    }

    .labelDetalhesPED {
        font-size: 15px;
    }

    .pDetalhesPED {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    .sectionDetalhesPED {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .labelStatusPED {
        display: none;
    }

    .dadosPED {
        display: flex;
    }

    .divStatusPED {
        width: 100%;
        height: max-content;
        flex: none;
        margin: 0;
    }

    .divDetalhesPED {
        margin: 10px;
        border: 2px solid #ccc;
        border-radius: 10px;
    }
}

@media (max-width: 760px) {
    .opcoesContainer {
        min-height: 24px;
    }
}

@media (max-width: 680px) {
    .labelDetalhesPED {
        font-size: 12px;
    }
}