.PageContainer {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (max-width: 760px) {
    .contentContainer {
        display: flex;
        flex-direction: row;
    }
}