.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
}

.span {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p {
    font-size: 15px;
    margin: 10px;
    font-weight: bold;
    color: #767676;
}

.formGroup, .selectFormGroup {
    width: 100%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.selectFormGroup {
    gap: 10px;
}

.inputContainer {
    position: relative;
    margin-bottom: 10px;
}

.textArea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-top: 7px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.select:focus,
.textArea:focus {
    border: 1px solid #797979;
}

.labelTrimestreRec {
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #006b3f;
    padding: 5px;
    border-radius: 5px;
    color: #006b3f;
}

.labelTrimestreRec:hover {
    scale: calc(1.01);
    background-color: #006b3f;
    color: white;
    transition: ease-in-out .2s;
    cursor: pointer;

}

.selectPPTForm,
.erroSelectPPTForm {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
}

.selectPPTForm {
    border: 1px solid #ccc;
}

.erroSelectPPTForm {
    border: 1px solid #f00;
}

.divTrimestreRec {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.checkboxTrimestre:checked+.labelTrimestreRec {
    background-color: #006b3f;
    color: white;
}

.checkboxTrimestreDesab+.labelTrimestreRec {
    background-color: #797979;
    border: none;
    color: white;
    /* Muda a cor da label para cinza */
    cursor: not-allowed;
    /* Também desabilita o cursor sobre a label */
}