.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100px;
    width: 100%;
}

.addIcone {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #006b3f;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.containerLista {
    width: 100%;
    height: 100%;
    display: flex;
}