.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.formGroup {
  display: flex;
  width: 100%;
  gap: 15px;
}

.textArea {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    color: #767676;
    min-height: 200px;
}

.textArea {
    border: 1px solid #ccc;
}

textarea:focus {
    border: 1px solid #797979;
    outline: none;
}

.section {
  display:  flex;
  width: 100%;
  justify-content: center;
}

.pdfContainer {
  margin: 100px;
}

.p {
  color: #767676;
  font-size: 12px;
  text-align: center;
}
