.formContainer {
    max-width: 90%;
}

.sectionListarPPT {
    display: flex;
    width: 100%;
    padding: 5px;
    max-height: 50%;
}

.divListarPPT {
    width: 50%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 5px;
}

.containerButton {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.formContainer {
    width: 87%;
}

.containerTabelaListarPPT {
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;

    .tabelaListarPPT {
        width: 100%;
        border-collapse: collapse;

        .cabecalhoListarPPT {
            background-color: #006b3f;
            color: white;
            font-size: 12px;

            th {
                padding: 7px;
            }
        }

        td {
            text-align: center;
            padding: 5px;
        }
    }
}