.containerCadastroAluno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.labelCadastroAluno {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  font-size: 15px;
}

.erros {
  position: relative;
}

.ajuste-button {
  display: flex;
  justify-content: center;
}

.erros {
  color: red;
}

.divCadastroAluno {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

/* Customiza o ícone de sucesso para ter fundo branco */
.Toastify__toast--success .Toastify__toast-icon {
  background-color: white;
  /* Cor de fundo branca */
  color: #28A745;
  /* Cor do ícone verde */
  border-radius: 50%;
  /* Mantém o formato circular */
}