.section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.div {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.containerStatus {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f1f1f1;
    margin-top: 10px;
    border-radius: 10px;
    max-height: 300px;
    margin-left: 15px;
    padding: 10px;
}

.opcoesContainer {
    display: flex;
    justify-content: end;
    min-height: 24px;
}

.label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 17px;
    margin: 10px;
}

.p,
.ul {
    font-weight: 400;
    font-size: 15px;
    margin: 5px;
}

.span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.status {
    margin: auto;
}

.cabecalho {
    background-color: #006b3f;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.li {
    display: flex;
    gap: 5px;
}

.resp {
    padding: 3px;
    font-size: 12px;
    background-color: #006b3f;
    color: white;
    border-radius: 5px;
    width: fit-content;
}

.containerBotoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

@media (max-width: 1260px) {
    .containerStatus {
        height: 300px;
    }

    .label {
        font-size: 15px;
    }

    .p {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    .section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .status {
        display: none;
    }

    .dados {
        display: flex;
    }

    .containerStatus {
        width: 100%;
        height: max-content;
        flex: none;
        margin: 0;
    }

    .div {
        margin: 10px;
        border: 2px solid #ccc;
        border-radius: 10px;
    }
}

@media (max-width: 760px) {
    .opcoesContainer {
        min-height: 24px;
    }
}

@media (max-width: 680px) {
    .label {
        font-size: 12px;
    }
}