.perfilContainer {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    margin: auto;
}

.fotoContainer {
    justify-self: flex-start;
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
}

.foto {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.containerDados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nomeContainer {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.labelPerfilAluno {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

.inputPerfilAluno {
    margin: 10px;
    width: 80%;
}

.erro {
    font-weight: 500;
    color: red;
    font-size: 12px;
}

@media (max-width: 760px) {
    .perfilContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .nomeContainer {
        font-size: 20px;
    }

    .emailContainer {
        word-break: break-all;
        text-align: center;
        font-size: 10px;
    }
}