.containerBuscarObservacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  .buscaBarObservacao {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006b3f;
    border: 1px solid #006b3f;
    border-radius: 8px;
    padding: 5px 10px;
    width: 100%;
    max-width: 400px;
  }
  
  .buscaBarObservacao input {
    flex: 1;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
  }
  
  .iconesBuscarObservacao {
    max-width: 15px;
    max-height: 15px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 5px 10px;
    background-color: #006b3f;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #004c29;
  }
  