.formGroup {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.switchContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}