.input-group {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modalidade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerCadastroCurso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.labelCadastroCurso {
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
}

.containerOpcoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.modalidadeLabel {
  font-size: 14px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.add-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.turmas-lista {
  width: 100%;
  margin-bottom: 20px;
  height: fit-content;
  max-height: 105px;
  overflow-y: auto;
  position: relative;
}

.tabelaCadastroCurso {
  width: 100%;
  border-collapse: collapse;

  .cabecalhoTabelaCadastroCurso {
    position: sticky;
    top: 0;
    background-color: #006b3f;
    height: 40px;

    tr {
      color: #fff;
      background-color: #006b3f;
    }
  }

  td {
    text-align: center;
  }

}

.turmas-tabela th,
.turmas-tabela td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

.turmaInput {
  width: calc(100% - 40px);
}

.error {
  color: red;
  font-size: 12px;
}