.formGroup,
.formGroupDatalist {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formGroupDatalist {
  position: relative;
}

.switchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  gap: 10px;
}

.containerOpcoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.botaoAdd {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  gap: 10px;
}

.listaTurmas {
  width: 100%;
  margin-bottom: 20px;
  height: fit-content;
  max-height: 105px;
  overflow-y: auto;
  position: relative;
}

.tabelaTurmas {
  width: 100%;
  border-collapse: collapse;

  th {
    background-color: #006b3f;
    color: white;
  }
}

.cabecalhoTabelaTurmas {
  position: sticky;
  top: 0;
  background-color: #006b3f;
  height: 40px;
}

td {
  text-align: center;
}

.tabelaTurmas th,
.tabelaTurmas td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}