.form-item {
    display: flex;
    flex-direction: column;
}

.divCadastroDisciplina {
    margin-top: 15px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.radio-container label {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}