.sectionDetalhesPPT {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.divDetalhesPPT {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.divStatusPPT {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f1f1f1;
    margin-top: 10px;
    border-radius: 10px;
    max-height: 300px;
    margin-left: 15px;
    padding: 10px;
}

.opcoesContainer {
    display: flex;
    justify-content: end;
    min-height: 24px;
}

.labelDetalhesPPT {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 17px;
    margin: 10px;
}

.nomeAlunoPPT {
    font-size: 15px;
    margin-left: 10px;
}

.pDetalhesPPT {
    font-weight: 400;
    font-size: 15px;
    margin: 5px;
}

.spanDetalhesPPT {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.labelStatusPPT {
    margin: auto;
}

.labelCabecalhoDetalhesPPT {
    background-color: #006b3f;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.buttons-PPT {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

@media (max-width: 1260px) {
    .divStatusPPT {
        height: 300px;
    }

    .labelDetalhesPPT {
        font-size: 15px;
    }

    .pDetalhesPPT {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    .sectionDetalhesPPT {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .labelStatusPPT {
        display: none;
    }

    .dadosPPT {
        display: flex;
    }

    .divStatusPPT {
        width: 100%;
        height: max-content;
        flex: none;
        margin: 0;
    }

    .divDetalhesPPT {
        margin: 10px;
        border: 2px solid #ccc;
        border-radius: 10px;
    }
}

@media (max-width: 760px) {
    .opcoesContainer {
        min-height: 24px;
    }
}

@media (max-width: 680px) {
    .labelDetalhesPPT {
        font-size: 12px;
    }
}