.sectionCadastroPED {
    width: 100%;
    display: flex;
    align-items: center;
}

.spanCadastroPED {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pCadastroPED {
    font-size: 15px;
    margin: 10px;
    font-weight: bold;
}

.divCadastroPED {
    width: 50%;
    padding: 7px;
}

.labelCadastroPED {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px;
}

.selectCadastroPED,
.errorSelectCadastroPED {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 8px;
    margin-top: 5px;
}

.selectCadastroPED {
    border: 1px solid #ccc;
}

.errorSelectCadastroPED {
    border: 2px solid #f00;
}

.textAreaCadastroPED {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-top: 7px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.selectCadastroPED:focus,
.textAreaCadastroPED:focus {
    border: 1px solid #797979;
}

.labelTrimestreRec {
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #006b3f;
    padding: 5px;
    border-radius: 5px;
    color: #006b3f;
}

.labelTrimestreRec:hover {
    scale: calc(1.01);
    background-color: #006b3f;
    color: white;
    transition: ease-in-out .2s;
    cursor: pointer;

}

.divTrimestreRec {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.checkboxTrimestre:checked+.labelTrimestreRec {
    background-color: #006b3f;
    color: white;
}