.sectionListarCursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.divListarCursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding: 5px;
}

.spanListarCursos {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
}

.labelListarCursos {
    font-size: 15px;
    text-align: center;
    padding-right: 5px;
}

.selectListarCursos {
    width: 90%;
    padding: 5px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
}

.tabelaContainerListarCursos {
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
}

.tabelaListarCursos {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    thead {
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    th {
        cursor: pointer;
        background-color: #006b3f;
        color: white;
        position: sticky;
        top: 0;
        z-index: 0;
        padding: 5px;
    }

    th,
    td {
        width: 25%;
        /* Aumentado para 25% para acomodar menos colunas */
        height: fit-content;
        min-width: min-content;
        border: 1px solid #ddd;
        text-align: center;
        border-left: none;
        border-right: none;
        word-wrap: break-word;
        padding: 7px;
    }
}

.icone-container img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 10px;
}

.seta {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
}

.seta-baixo {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffffff;
}

.seta-cima {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
}

@media (max-width: 1125px) {
    .tabelaContainerListarCursos {
        table {

            th,
            tr,
            td {
                font-size: 15px;
                height: 45px;
            }
        }
    }
}

@media (max-width: 900px) {
    .tabelaContainerListarCursos {
        table {

            th,
            tr,
            td {
                font-size: 10px;
                max-height: max-content;
            }
        }
    }
}

@media (max-width: 740px) {
    .labelListarCursos {
        font-size: 10px;
        font-weight: 600;
    }

    .selectListarCursos {
        font-size: 10px;
    }

    .icone-container img {
        max-width: 15px;
        max-height: 15px;
    }
}

@media (max-width: 600px) {
    .sectionListarCursos {
        flex-direction: column;

        .divListarCursos {
            width: 100%;
            max-width: 100%;
        }
    }

    .spanListarCursos {
        width: 70%;
    }
}

.Toastify__toast--success .Toastify__toast-icon {
    background-color: white;
    color: #006b3f;
    border-radius: 50%;
}

.containerListarCursos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.buscar-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006b3f;
    border: 1px solid #006b3f;
    border-radius: 8px;
    padding: 5px 10px;
    width: 100%;
    max-width: 400px;
}

.buscar-bar input {
    flex: 1;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
}

.buscar-bar .iconeAcoes {
    border-color: white;
}

.iconesBuscar {
    max-width: 15px;
    max-height: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.tabelaContainerListarCursos {
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
}

.tabelaListarCursos {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    thead {
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    th {
        cursor: pointer;
        background-color: #006b3f;
        color: white;
        position: sticky;
        top: 0;
        z-index: 0;
        padding: 5px;
    }

    th,
    td {
        width: 25%;
        height: fit-content;
        min-width: min-content;
        border: 1px solid #ddd;
        text-align: center;
        border-left: none;
        border-right: none;
        word-wrap: break-word;
        padding: 7px;
    }
}

.icone-container img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 10px;
}

.containerListarCursos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.buscar-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006b3f;
    border: 1px solid #006b3f;
    border-radius: 8px;
    padding: 5px 10px;
    width: 100%;
    max-width: 400px;
}

.buscar-bar input {
    flex: 1;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
}

.buscar-bar .iconeAcoes {
    border-color: white;
}

.iconesBuscar {
    max-width: 15px;
    max-height: 15px;
    margin-left: 10px;
    cursor: pointer;
    filter: brightness(0) invert(1); /* Lupa branca */
}

.tabelaContainerListarCursos {
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
}

.tabelaListarCursos {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: white;
}

th {
    cursor: pointer;
    background-color: #006b3f;
    color: white;
    position: sticky;
    top: 0;
    z-index: 0;
    padding: 5px;
}

th, td {
    width: 25%;
    height: fit-content;
    min-width: min-content;
    border: 1px solid #ddd;
    text-align: center;
    border-left: none;
    border-right: none;
    word-wrap: break-word;
    padding: 7px;
}

.icone-container img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 10px;
}

