/* Estilo da barra de filtros e do botão de busca */
.sectionListarCurso {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.divListarCurso {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.labelListarCurso {
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
}

.spanListarCurso {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

.tabelaContainerListarCurso {
    width: 100%;
    overflow-x: auto;
    background-color: #fff;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.tabelaListarCurso {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.cabecalhoListarCurso th {
    background-color: #f2f2f2;
    color: #000;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.cabecalhoListarCurso th:hover {
    background-color: #e2e2e2;
}

.tabelaListarCurso td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #000;
}

.iconeAcoes {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 760px) {
    .sectionListarCurso {
        flex-direction: column;
        padding: 5px;
    }

    .divListarCurso {
        flex-direction: column;
        gap: 10px;
    }

    .spanListarCurso {
        width: 100%;
    }

    .tabelaListarCurso, .tabelaListarCurso th, .tabelaListarCurso td {
        font-size: 12px;
        padding: 5px;
    }

    .tabelaContainerListarCurso {
        overflow-x: scroll;
    }

    .sectionListarCurso {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .filtroListarCurso {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    
    .filtroListarCurso span {
        display: flex;
        flex-direction: column;
    }
    
    .acaoListarCurso {
        display: flex;
        gap: 10px;
    }
    
    .tabelaContainerListarCurso {
        overflow-x: auto;
    }
    
    .tabelaListarCurso {
        width: 100%;
        border-collapse: collapse;
    }
    
    .tabelaListarCurso th, .tabelaListarCurso td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    .tabelaListarCurso th {
        cursor: pointer;
    }
    
    .acoes img {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
    
}
