.sectionCadastroPlanoEstudos {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.divCadastroPlanoEstudos {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  min-width: 300px;
}

.labelCadastroPlanoEstudos {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.selectCadastroPlanoEstudos {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

.inputCadastroPlanoEstudos {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

.textAreaCadastroPlanoEstudos {
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 12px;
  margin-top: 7px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.textAreaCadastroPlanoEstudos:focus,
.selectCadastroPlanoEstudos:focus,
.inputCadastroPlanoEstudos:focus {
  border: 1px solid #797979;
  outline: none;
}

.errorSelectCadastroPlanoEstudos {
  border: 1px solid #e74c3c;
}

.errorInputCadastroPlanoEstudos {
  border: 1px solid #e74c3c;
}

.errorTextAreaCadastroPlanoEstudos {
  border: 1px solid #e74c3c;
}

.errorSelectCadastroPlanoEstudos:focus,
.errorInputCadastroPlanoEstudos:focus,
.errorTextAreaCadastroPlanoEstudos:focus {
  border-color: #e74c3c;
}

.errorMessage {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}
