html, body {
  height: 100%; /* Garante que o HTML e o body ocupem 100% da altura */
  margin: 0; /* Remove margens padrão */
}

.app {
  display: flex;
  flex-direction: column; /* Layout em coluna */
  min-height: 100vh; /* Garante que a altura mínima seja a da viewport */
}

main {
  flex: 1; /* Permite que o conteúdo principal ocupe o espaço disponível */
}
