/* Botão de submit estilizado */
button[type="submit"] {
  background-color: #006400;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* Alerta de erro */
.erros {
  color: red;
  font-size: 12px;

}

/* Campo de erro com borda vermelha */
.inputErro {
  border-color: red !important;
}

/* Estilo para o campo Título */
#titulo {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
}

/* Estilo para o campo Descrição */
#descricao {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
  min-height: 100px;
  /* para destacar como área de texto */
  resize: vertical;
  /* permite redimensionar verticalmente */
}

#hora {
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 15px;	
}

#dia_todo {
  accent-color: #006400;
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Estilo para o campo Tipo de Calendário */
#tipo_calendario {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  color: #333;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.labelCustomizado {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
}