.header {
    background-color: #006b3f;
    color: white;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    min-height: 80px;
}

.header-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: lighter;
    margin-right: 15px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: max-content;
}

.buttonNotif {
    background: none;
    color: white;
    border: none;
    margin-left: 8px;
    cursor: pointer;
}

.menu button:hover {
    text-decoration: underline;
}

a {
    display: flex;
    font-weight: bold;
    color: white;
    text-decoration-line: none;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 180px;
    margin-left: 30px;
}

#button-logout {
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
    border: none;
    margin-right: 20px;
}

#bell-icon {
    color: white;
    width: 30px;
    height: 30px;
}

.nome {
    font-weight: 600;
    width: fit-content;
    margin-left: 15px;
}

.fotoPerfil {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    align-self: center;
    border: 2px solid white;
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        flex-direction: column;
        margin-top: 10px;
    }

    .menu button {
        margin: 5px 0;
    }

    .logo {
        margin-top: 10px;
        width: 150px;
        margin-right: 60%;
    }

    #button-logout {
        margin-top: 5px;
    }

    #bell-icon {
        color: white;
        width: 25px;
        height: 25px;
        margin-left: 50px;
    }
}