.formGroup,
.pdfContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    flex: 1;
}

.formGroup {
    justify-content: start;
}

.pdfContainer {
    justify-content: center;
}

.textArea, .textAreaError {
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    flex: 1;
    color: #767676;
    min-height: 200px;
}

.textArea {
    border: 1px solid #ccc;
}

.textAreaError {
    border: 1px solid red;
}

.textArea:focus, .textAreaError:focus {
    outline: none;
    height: 100%
}

.p {
    font-size: 13px;
}

.labelInputVazio,
.labelInput {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    justify-self: center;
}

.labelInputVazio {
    background-color: white;
    color: #797979;
    border: 1px solid #797979;
}

.labelInput {
    background-color: #006b3f;
    color: white;
}

.labelInput:hover,
.labelInputVazio:hover {
    cursor: pointer;
    scale: calc(1.05);
    transition: ease-in 0.3s;
}

.visualizarPDF {
    max-width: 25px;
    max-height: 25px;
}

.pdfContainer {
    border-radius: 8px;
    margin-left: 15px;
    padding: 15px;
    background-color: #eee;
}

.span {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 15px;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form {
    display: flex;
    max-height: 60%;
    gap: 15px;
    margin-bottom: 25px;
}