.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  max-width: 800px; /* Reduzido para 800px */
  width: 100%; /* Para garantir que use a largura total do contêiner pai */
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 14px; /* Tamanho de fonte geral ajustado */
}

h1 {
  font-size: 20px; /* Tamanho do título ajustado */
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 15px;
  width: 100%; /* Largura total */
}

.input-group label {
  font-size: 14px; /* Tamanho da letra ajustado para os labels */
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%; /* Aumenta a largura da entrada */
  padding: 10px; /* Ajustado para maior conforto */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Tamanho da fonte ajustado */
}

.containerOpcoes {
  display: flex;
  flex-direction: row; /* Alterado para linha */
  justify-content: space-between; /* Espaço entre as opções */
  width: 100%; /* Largura total */
  margin-bottom: 15px; /* Espaçamento entre opções e próximo elemento */
}

.modalidadeLabel {
  font-size: 14px; /* Ajuste do tamanho do texto */
  margin-right: 15px; /* Espaçamento entre as opções */
  display: flex;
  align-items: center; /* Alinha o texto e o input verticalmente */
}

.add-turma {
  margin: 10px 0; /* Espaçamento vertical */
}

.add-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px; /* Tamanho do texto do botão ajustado */
}

.turmas-lista {
  width: 100%; /* Largura total */
  margin-top: 20px;
}

.turmas-tabela {
  width: 100%; /* Tabela ocupa 100% */
  border-collapse: collapse;
}

.turmas-tabela th,
.turmas-tabela td {
  border: 1px solid #ddd; /* Borda das células */
  padding: 8px; /* Espaçamento interno */
  font-size: 14px; /* Tamanho da fonte da tabela ajustado */
}

.turmaInput {
  width: calc(100% - 40px); /* Reduzir a largura para acomodar o ícone de exclusão */
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px; /* Tamanho do texto ajustado */
}

.submitButton:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.mensagem {
  font-size: 14px; /* Tamanho da fonte da mensagem */
  color: green;
}
