.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h1 {
  font-size: 22px; /* Tamanho do título reduzido */
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 15px;
  width: 100%; /* Largura total */
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%; /* Aumenta a largura da entrada */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.containerOpcoes {
  display: flex;
  flex-direction: row; /* Alterado para linha */
  justify-content: space-around; /* Espaço entre as opções */
  width: 100%; /* Largura total */
}

.modalidadeLabel {
  margin-right: 15px; /* Espaçamento entre as opções */
  display: flex;
  align-items: center; /* Alinha o texto e o input verticalmente */
}

.modalidadeLabel input {
  margin-top: 5px; /* Ajusta a posição das bolinhas de opção */
}

.add-turma {
  margin: 10px 0; /* Espaçamento vertical */
}

.add-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.turmas-lista {
  width: 100%; /* Largura total */
  margin-top: 20px;
}

.turmas-tabela {
  width: 100%; /* Tabela ocupa 100% */
  border-collapse: collapse;
}

.turmas-tabela th, .turmas-tabela td {
  border: 1px solid #ddd; /* Borda das células */
  padding: 8px; /* Espaçamento interno */
}

.turmaInput {
  width: calc(100% - 40px); /* Reduzir a largura para acomodar o ícone de exclusão */
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}



