form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ajuste-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.erros {
  color: red;
  margin-top: -13px;
}

div {
  margin-bottom: 10px;
}

/* Customiza o ícone de sucesso para ter fundo branco */
.Toastify__toast--success .Toastify__toast-icon {
  background-color: white; /* Cor de fundo branca */
  color: #28A745; /* Cor do ícone verde */
  border-radius: 50%; /* Mantém o formato circular */
}

#email{
  width: 100% !important;
  padding: 12px !important;
  margin-bottom: 15px !important;
  font-size: 16px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}