.navBarGestao {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}

.navItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    height: 40px;
}

.navTexto,
.dropdown-titulo {
    color: #000;
    padding: 3px 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.navTexto::before,
.dropdown-titulo::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #006b3f;
    transition: width 0.3s ease, left 0.3s ease;
}


.navTexto:hover::before,
.dropdown-titulo:hover::before {
    width: 100%;
    left: 0;
}

.icone {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.dropdown-conteudo {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 10px 0;
}

hr {
    width: 50%;
    justify-self: center;
    align-self: center;
    border: 1px #28A745 solid;
}