.navBarGestao {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    align-items: center;
    padding: 5px;
    background-color: rgba(#d9d9d9, 0.1);
}

.navItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navTexto {
    color: #000000;
    text-align: center;
    width: max-content;
    padding: 3px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    display: flex;
    text-align: center;
}

.navTexto:hover {
    background-color: #28A745;
    transition: ease-in;
}

.titulo {
    font-weight: bold;
    font-size: 2rem;
    align-self: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

hr {
    width: 50%;
    border: 2px solid #28A745;
    align-self: center;
}