.icone-ordenar {
    width: 15px;
    height: 15px
}

.textoCelula {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.iconeAcoes {
    max-width: 15px;
    max-height: 15px;
    cursor: pointer;
}

.tabela {
    max-width: 100%;
    width: 100%;
    max-height: 350px;
    border-collapse: collapse;
    overflow: scroll;

    .th-ordenar {
        display: flex;
        align-items: center;
    }

    .linhaCabecalhoTabela:nth-child(even) {
        background-color: #f9f9f9;
    }

    .linhaCabecalhoTabela:nth-child(odd) {
        background-color: white;
    }

    .colunaCabecalhoTabela {
        cursor: pointer;
        background-color: #006b3f;
        color: white;
        position: sticky;
        width: auto;
        top: 0;
        z-index: 0;
        padding: 5px;
        white-space: nowrap;
    }

    .colunaCorpoTabela {
        padding: 5px;
        text-align: center;
    }
}

.ordenadores {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.ordenadores span {
    cursor: pointer;
}

.seta-cima,
.seta-baixo {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
}

.icone-container img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 10px;
}

#icone-ordenar {
    position: relative;
    top: 7px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}