.detalhe-plano-estudos {
  font-size: 16px;
  margin-bottom: 12px;
}

.detalhe-plano-estudos strong {
  font-weight: bold;
}

.divPlanoEstudos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}